{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "../feedback-overview",
    text: "Back"
  }) }}

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/form-handler" method="post" novalidate>

          <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Does your organisation have an internal audit policy or process in place with regard to fraud and financial irregularity?
      </h1>
    </legend>

    <div class="govuk-inset-text">
    The link to the internal audit policy that you sent in your application did not work. Send a new link, or check the previously given one is now working.
    </div>

    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
        <div class="govuk-form-group">
          <label class="govuk-label" for="link-to-audit">
            Include a link to your organisation's internal audit policy
          </label>
          <input class="govuk-input govuk-input--width-20" id="contact-by-email" name="link-to-audit" type="email">
        </div>







      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
          No
        </label>
      </div>

    </div>
  </fieldset>
</div>

          <button type="submit" class="govuk-button">
            Save and continue
          </button>
          <p class="govuk-body"><a href="../feedback-overview">Return to application feedback</a></p>
        </form>
      </div>
    </div>

{% endblock %}
