.button-link {
    background-color: #fff;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: .526315em .789473em .263157em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #d9d9d9;
    -moz-box-shadow: 0 2px 0 #d9d9d9;
    box-shadow: 0 2px 0 #d9d9d9;
    font-size: 1em;
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #0b0c0c;
    color: #005ea5;
    -webkit-box-shadow: 0 2px 0 #fff;
    -moz-box-shadow: 0 2px 0 #fff;
    box-shadow: 0 2px 0 #fff;
}

.section-div  {
  border-bottom: solid 1px #b2b2b2;
  padding: 1.25em 0 0 0;
}

.section-div:nth-child(2)  {
  padding: 0;
}

.section-div:nth-child(4)  {
  margin-bottom: 2em;
}

.apply-hint {
  margin-top: -15px;
}

.app-task-list__one-section {
  padding: 0px;
  list-style-type: none;
  font-size: 19px;
}

.app-questions-list {
  padding: 20px;
  font-family: 'nta', Arial, sans-serif;
  font-size: 19px;
  font-weight: 700;
}
