{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "application-overview",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
<div class="grid-grid-row">
  <div class="govuk-grid-column-two-thirds app-column-minimum">
    <h1 class="govuk-heading-l">Financial health</h1>
    <p>You must answer all the questions.</p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section"><span class="app-task-list__section-number">1.</span> Assessment plan</h2>
        <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <a aria-describedby="standard-name" class="app-task-list__task-name" href="complete-questions/standard-name">financial advisor</a>
              <strong class="govuk-tag app-task-list__task-completed" id="completed">Completed</strong>
            </li>

        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section"><span class="app-task-list__section-number">2.</span> Documents needed</h2>
        <ul class="app-task-list__items">

          <li class="app-task-list__item">
            <a aria-describedby="eligibility-completed" class="app-task-list__task-name" href="complete-questions/internal-audit-policies-and-processes">Internal audit policies and processes</a>
            <strong class="govuk-tag app-task-list__task-completed" id="completed">Completed</strong>
          </li>

          <li class="app-task-list__item">
            <a aria-describedby="eligibility-completed" class="app-task-list__task-name" href="complete-questions/ico-registration">ICO registration</a>
            <strong class="govuk-tag app-task-list__task-completed" id="completed">Completed</strong>
          </li>

          <li class="app-task-list__item">
            <a aria-describedby="eligibility-completed" class="app-task-list__task-name" href="complete-questions/insurance">Insurance</a>
            <strong class="govuk-tag app-task-list__task-completed" id="completed">Completed</strong>
          </li>

          <li class="app-task-list__item">
            <a aria-describedby="eligibility-completed" class="app-task-list__task-name" href="complete-questions/safeguarding-policy">Safeguarding policy</a>
            <strong class="govuk-tag app-task-list__task-completed" id="completed">Completed</strong>
          </li>

          <li class="app-task-list__item">
            <a aria-describedby="eligibility-completed" class="app-task-list__task-name" href="complete-questions/prevent-agenda">The Prevent Agenda</a>

          </li>

          <li class="app-task-list__item">
            <a aria-describedby="eligibility-completed" class="app-task-list__task-name" href="complete-questions/best-practice">Best practice and skills</a>

          </li>

        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section"><span class="app-task-list__section-number">3.</span> Capacity and capability</h2>
        <ul class="app-task-list__items">

          <li class="app-task-list__item">
            <a aria-describedby="eligibility-completed" class="app-task-list__task-name" href="complete-questions/where-deliver">Where you deliver end-point assessments</a>

          </li>

          <li class="app-task-list__item">
            <a aria-describedby="eligibility-completed" class="app-task-list__task-name" href="complete-questions/occupational-competence">Occupational competence</a>

          </li>

          <li class="app-task-list__item">
            <a aria-describedby="eligibility-completed" class="app-task-list__task-name" href="complete-questions/process">Providing a complete end-point assessment process</a>

          </li>

          <li class="app-task-list__item">
            <a aria-describedby="eligibility-completed" class="app-task-list__task-name" href="complete-questions/assessment-types">End-point assessment types</a>

          </li>

          <li class="app-task-list__item">
            <a aria-describedby="eligibility-completed" class="app-task-list__task-name" href="complete-questions/your-staff">Your staff</a>

          </li>

          <li class="app-task-list__item">
            <a aria-describedby="eligibility-completed" class="app-task-list__task-name" href="complete-questions/quality">Quality assurance and management procedures</a>

          </li>

          <li class="app-task-list__item">
            <a aria-describedby="eligibility-completed" class="app-task-list__task-name" href="complete-questions/delivery-model">Your delivery model</a>

          </li>

        </ul>
      </li>
    </ol>
    <a href="application-overview" class="govuk-button">
      Return to application overview
    </a>
  </div>
</div>
  <div class="govuk-clearfix"></div>
</div>
{% endblock %}
