{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Application feedback
    </h1>

    <p class="govuk-body">After reviewing your application to join the register of end-point assessment organisations, you are required to provide more information. We have given feedback on the answers to questions that need more information. </p>

    <a href="feedback-overview" class="govuk-button">
      Go to feedback
    </a>
  </div>
</div>

{% endblock %}
