{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "account-home",
    text: "Back"
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="standard-questions" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="standard-name">
            What standard are you applying for?
          </label>
        </h1>
        <p class="govuk-body">You’ll be able to apply for more standards after you’ve become an EPAO and you’re on the register.</p>
        <span id="standard-hint" class="govuk-hint">
          For example, Financial Adviser
        </span>
        <input class="govuk-input govuk-input--width-20" id="standard-name" name="standard-name" type="text" value="{{ data['standard-name'] }}">
      </div>
      <div class="js-prerequisites govuk-form-group">
        <h2 class="govuk-heading-m">Prerequisites for <span class="js-standard-name">the standard</span></h2>
        <ul class="js-requirements govuk-list govuk-list--bullet">
        </ul>
      </div>
      <button type="submit" class="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
