{% extends "layout.html" %}

{% block pageTitle %}
Create an EPAO account
{% endblock %}

{% block beforeContent %}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="confirmation" method="post" novalidate>
          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Create an account password
              </h1>
            </legend>
          </div>
          <div class="govuk-form-group">
            <span id="email-hint" class="govuk-hint">
              Your password must use at least 8 characters
            </span>
            <input class="govuk-input govuk-!-width-three-quarters" id="new-password" name="new-password" type="password"
              aria-describedby="new-password-hint">
          </div>
          <div class="govuk-form-group">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item govuk-checkboxes__item--show-hide">
                <input class="govuk-checkboxes__input" id="show-password" name="show-password" type="checkbox" value="">
                <label class="govuk-label govuk-checkboxes__label" for="show-password">
                  Show password
                </label>
              </div>
            </div>
          </div>
      </div>
    </div>
    <button type="submit" class="govuk-button">
      Continue
    </button>
    </form>
</div>

</main>
</div>
{% endblock %}