{% extends "layout.html" %}

{% block pageTitle %}
  Create an EPAO account
{% endblock %}

{% block beforeContent %}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
  		<div class="govuk-grid-row">
  			<div class="govuk-grid-column-two-thirds">
  				<form action="confirmation" method="post" novalidate="">
  					<div class="govuk-form-group">
  						<fieldset aria-describedby="dob-hint" class="govuk-fieldset" role="group">
  							<legend class="govuk-fieldset__legend govuk-fieldset__legend--l"></legend>
  							<h1 class="govuk-fieldset__heading"><legend class="govuk-fieldset__legend govuk-fieldset__legend--l">Create an account password</legend></h1><legend class="govuk-fieldset__legend govuk-fieldset__legend--l"></legend>
  							<div class="govuk-form-group">
  								 <span class="govuk-hint" id="password-hint">Your password must use at least 8 characters</span> <input class="govuk-input govuk-input--width-20" id="name" name="name" type="password">
  							</div><br>
  							<p class="govuk-body"><a class="govuk-link" href="">Show password</a></p>
  						</fieldset>
  					</div>
  				</form>
  			</div>
  		</div><button class="govuk-button" type="submit">Continue</button>
  	</main>
</div>
{% endblock %}
