
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Thanks for helping out with our research.
      </h1>
      <p>
        Select a link from below when the researcher asks you to.
      </p>

      <h2 class="govuk-heading-m">Scenario links</h2>

      <ol class="govuk-list govuk-list--number">
        <li><a href="signin/start">Sign in or register</a></li>
        <!-- <li><a href="cant-find/start">Can't find standard</a></li> -->
        <li><a href="add-standard/start">Add a standard</a></li>
        <!-- <li><a href="confirm-eligibility/start">View and confirm eligibility</a></li> -->
        <!-- <li><a href="restart/start">Restart an application</a></li> -->
        <li><a href="application-history/start">See application history</a></li>
        <li><a href="fail-and-respond/start">Fail and respond</a></li>
        <li><a href="questions-upfront/start">Questions up front</a></li>
      </ol>



    </div>
</div>

{% endblock %}
